
<div class="main-page">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1509807995916-c332365e2d9e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2471&q=80);">
    <div class="container">
      <div class="add-cocktail"><p><%= link_to "Create your own cocktail", new_cocktail_path %></p></div>
    </div>
  </div>


  <h1 class = "main-title">List of Cocktails</h1>

  <div class="cards">
   <% @cocktails.each do |cocktail| %>
     <div style="background-image: url('<%= cl_image_path cocktail.photo unless cocktail.photo.blank? %>')">
       <%= link_to cocktail.name, cocktail_path(cocktail) %>
     </div>
   <% end %>
  </div>
  <div class="footer">
    <div class="footer-copyright">
      This website is made with <i class="fas fa-heart"></i> by Evia
    </div>
  </div>

</div>


