// Specific CSS for your home-page

ul {
  list-style: none;
  margin-top: 50px;
  color: white;
}

.main-title {
  text-align: center;
  color: white;
  margin-top: 40px;
  margin-bottom: 40px;
  color: white;
  font-family: 'Lobster', cursive;
}

.add-cocktail {
  text-align: center;
  margin-top: 30px;
}

.add-cocktail a {
  color: white;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 40px;
}

.main-page {
  background-color: rgba(0, 0, 0, 0.9);
  font-family: 'Lobster', cursive;
}

